In [26]:
#from watchdog.observers import Observer
#from watchdog.events import FileSystemEventHandler

import os
import re
import argparse
#import json
#import time
#import re
import pandas as pd
#import numpy as np
#import datetime
#import time
from itertools import product
import generateDB

In [14]:
rootDir = os.getcwd()
tamales = os.path.join(rootDir,"tamales_inc")
teinvento = os.path.join(rootDir,"teinvento_inc")
rawDataPath = os.path.join("crudo","generador","fuente")
processedDataPath = os.path.join("procesado","generador","fuente")
dateDic = {"Jan":"01", "Feb":"02", "Mar":"03", "Apr":"04",
           "May":"05", "Jun":"06", "Jul":"07", "Aug":"08",
           "Sep":"09", "Oct":"10", "Nov":"11", "Dec":"12"}
startDate = 0 #Esta variable puede ser útil para determinar fecha a partir de la cual quieres correr el código
ventasCols = ["year", "month", "country", "calorie_category", "flavor", "zone", "product_code", "product_name", "sales"]
factCols = ["year", "month", "sales", "id_region", "id_product"]
prodCols = ["id_product", "calorie_category", "product", "product_brand", "producer"]
regionCols = ["id_region", "country", "region"]

In [15]:
def loadFromDataPath(dataPath, cols):
    dataFrames = []
    for subdir, dirs, files in os.walk(dataPath):
        for file in files:
            if file.endswith(".csv"):
                path2File = subdir+"/"+file
                dataFrame = pd.read_csv(path2File, names = cols)
                dataFrames.append(dataFrame)
    df = pd.concat(dataFrames)    
    return(df)

In [16]:
def createMappingfile(tableName, realtimeFile = None, processedDataPath = processedDataPath):
    """Esta función devuelve region_table y product_table para los datos de tamales"""
    processedLocation = os.path.join(rootDir,processedDataPath)
    if not os.path.exists(processedLocation):
        os.makedirs(processedLocation)
    fileName = tableName+"_tamales_inc.csv"
    MappingFile = os.path.join(processedLocation,fileName)
    if os.path.isfile(MappingFile):
        if realtimeFile:
            mapping_df = pd.read_csv(path2TableFile)
        else:
            newtable_df = pd.read_csv(MappingFile)
            print("This mapping file already exists for history data.")
            return(newtable_df)
    else:
        if tableName =="region_table":
            newCols = ["country", "zone"]
            #We need a new index for region_id
            keepIndex = True
        elif tableName =="product_table":
            newCols = ["product_code","product_name","flavor","calorie_category"]
            keepIndex = False
        else:
            print("Only region_table and product_table are supported as mapping file.")
            return
        dataFrames = []
        for subdir, dirs, files in os.walk(tamales):
            for file in files:
                if file.endswith(".csv"):
                    path2File = subdir+"/"+file
                    dataFrame = pd.read_csv(path2File, names = ventasCols)
                    dataFrames.append(dataFrame)
        df = pd.concat(dataFrames)
        
        newtable_df = df[newCols].drop_duplicates().reset_index(drop=True) 
        if keepIndex:
            newtable_df.index.name = "id_region"
        #product_code has a one to many mapping issue which will be overwritten
        newtable_df.to_csv(MappingFile,index=keepIndex,sep=",")
    return(newtable_df)

In [17]:
def createData(newDataPath, df, clearData, datos, macro=False):
    """Toma DataFrame (df) y lo carga en el nuevo path (newDataPath) utilizando una etiqueta como macro. 
    Limpiará el cache si clearData es True"""
    if macro:
        filename = datos+"_"+macro+".csv"
    else:
        filename = datos+".csv"
    newFile = os.path.join(newDataPath,filename)
    #If file exists and we don't need to clear data
    if clearData:
            if not os.path.exists(newDataPath):
                os.makedirs(newDataPath)
            print("Limpiando y cargando datos para "+filename)
            df.to_csv(newFile,index=False,sep=",")
    else:
        if os.path.isfile(newFile) :
            print("Datos ya existen para "+filename)
            return
        else:
            if not os.path.exists(newDataPath):
                os.makedirs(newDataPath)
            print("Cargando datos para "+filename)
            df.to_csv(newFile,index=False,sep=",")

In [18]:
def load2PathYYYYMM(df, destPath, yearCol = "year", monthCol = "month", datos="tamales_inc", clearData = False, startDate = startDate):
    """
    Carga datos que se encuentran en el mismo directorio y los acomoda en datos crudos de acuerdo a su fecha.
    """
    #We get 6 digit pattern
    dfGrouped = df[[yearCol,monthCol]].groupby([yearCol,monthCol]).size().reset_index().drop(columns=[0])
    
    for index, rows in dfGrouped.iterrows():
        year = rows[yearCol]
        month = rows[monthCol]
        YYYYMM = str(year)+dateDic[month]
        #Aquí podemos cargar datos desde la fecha en que especifiquemos
        if startDate > int(YYYYMM):
            continue
        newDestPath = os.path.join(rootDir,destPath,YYYYMM)
        #We filter records having year and month values
        years = df[yearCol] == year
        months = df[monthCol] == month
        dataWithDate = df.loc[years & months]
        
        createData(newDestPath, dataWithDate, clearData, datos, YYYYMM)

In [19]:
def loadTamalRaw2Proc(rawDataPath = rawDataPath, processedDataPath=processedDataPath, clearData = False, startDate = startDate):
    """
    Loads processed data from Raw data. 
    """
    region_df = createMappingfile("region_table")
    product_df = createMappingfile("product_table")
    datos = "tamales_inc"
    #We use regex to make sure we only load tamales
    YYYYMMRegex = re.compile('({})_(\d\d\d\d\d\d)'.format(datos))
    path = os.path.join(rootDir,rawDataPath)
    for subdir, dirs, files in os.walk(path):
        for file in files:
            if not YYYYMMRegex.match(file):
                continue
            match = YYYYMMRegex.search(file)
            YYYYMM = match.group(2) 
            #Aquí podemos cargar datos desde la fecha en que especifiquemos
            if startDate > int(YYYYMM):
                continue
            newProcessedDataPath = os.path.join(rootDir,processedDataPath,YYYYMM)
            #We keep relevant data
            df1 = pd.read_csv(os.path.join(subdir,file))[["year", "month", "product_code", "zone", "sales"]]
            #We map region_id to zone
            df1['zone'] = df1['zone'].map(region_df.set_index('zone')['id_region'])
            df1Grouped = df1[["product_code","zone","sales"]].groupby(["product_code","zone"]).sum().reset_index()
            df1Grouped.rename(columns = {"product_code":"product","sales":"monthly_sales", "zone":"id_region"}, inplace = True)
            
            #Pendiente: arreglar error en 202003 cuando se incluyen nuevos valores
            if 202002 < int(YYYYMM):
                break
            #Empezando el año
            if file.endswith("01.csv"):
                df1Grouped["monthly_sales_acc"] = df1Grouped["monthly_sales"]
                df1Grouped["diff_prev_month_perc"] = None
                df1Grouped_prev = df1Grouped.copy()
            else:
                #Aseguramos que el se creen columnas con datos para producto nuevo
                df1Grouped["monthly_sales_acc"] = df1Grouped["monthly_sales"]
                df1Grouped["diff_prev_month_perc"] = None
                for index, rows in df1Grouped_prev.iterrows():
                        
                    
                    #Calculamos nuevo acumulado
                    df1Grouped.loc[(df1Grouped["product"]==rows["product"]) & (df1Grouped["id_region"]==rows["id_region"]),
                                   ["monthly_sales_acc"]] += rows["monthly_sales_acc"]
                    #Calculamos nuevo porcentaje
                    prevSales = df1Grouped.loc[(df1Grouped["product"]==rows["product"]) & (df1Grouped["id_region"]==rows["id_region"]),
                                               "monthly_sales"].item()
                    newPercentage = ((prevSales/rows["monthly_sales"] - 1)*100)
                    df1Grouped.loc[(df1Grouped["product"]==rows["product"]) & (df1Grouped["id_region"]==rows["id_region"]),
                               ["diff_prev_month_perc"]] = newPercentage

                df1Grouped_prev = df1Grouped.copy()
            
            createData(newProcessedDataPath, df1Grouped, clearData, datos, YYYYMM)

In [28]:
def placeRaw2path(folder, destPath, rootDir=rootDir, clearData = False):
    path2Folder = os.path.join(rootDir,folder)
    newDataPath = os.path.join(rootDir,destPath)
    for table in os.listdir(path2Folder):
        subDir = os.path.join(path2Folder,table)
        if table == "fact_table":
            #Acomodaremos estos datos por fecha uniendo todas las particiones
            dfData = loadFromDataPath(subDir,factCols)
            load2PathYYYYMM(dfData,destPath,datos=folder)
        elif table == "product_dim":
            #Acomodaremos estos datos en el directorio fuente uniendo todas las particiones
            dfData = loadFromDataPath(subDir,prodCols)
            dfData = dfData[["id_product", "calorie_category", "product", "producer"]]
            createData(newDataPath, dfData, clearData, "product_dim")
        else:
            #Acomodaremos estos datos en el directorio fuente uniendo todas las particiones
            dfData = loadFromDataPath(subDir,regionCols)
            createData(newDataPath, dfData, clearData, "region_dim")

In [21]:
def loadTamalesInc():    
    print("Cargando datos de Tamales Inc.")
    df = loadFromDataPath(tamales, ventasCols)
    print("Cargando datos crudos...")
    load2PathYYYYMM(df, rawDataPath)
    print("Cargando datos procesados...")
    loadTamalRaw2Proc()

In [22]:
def loadTeinventoInc():
    """No proceso estos datos, sólo los ubico en los dataPath mencionados, y los separo si tienen columna year y month"""
    print("Cargando datos de Teinvento Inc.")
    print("Cargando datos crudos...")
    placeRaw2path("teinvento_inc", rawDataPath)
    print("Cargando datos procesados...")
    placeRaw2path("teinvento_inc", processedDataPath)

In [23]:
def insertRowsTamales(con_tamales):
    generateDB.sqlInsertRegion(con_tamales, os.path.join(rootDir,processedDataPath,"region_table_tamales_inc.csv"))
    generateDB.sqlInsertProductTamales(con_tamales, os.path.join(rootDir,processedDataPath,'product_table_tamales_inc.csv'))
    datos = "tamales_inc"
    YYYYMMRegex = re.compile('({})_(\d\d\d\d\d\d)'.format(datos))
    path = os.path.join(rootDir,rawDataPath)
    for subdir, dirs, files in os.walk(path):
        for file in files:
            if YYYYMMRegex.match(file):
                match = YYYYMMRegex.search(file)
                YYYYMM = match.group(2) 
                newFile = os.path.join(rootDir,processedDataPath,file)
                generateDB.sqlInsertTamalesInc(con_tamales, newFile, YYYYMM)
def insertRowsTeinvento(con_teinvento):
    generateDB.sqlInsertRegion(con_teinvento, os.path.join(rootDir,processedDataPath,"region_dim.csv"))
    generateDB.sqlInsertProductTeinvento(con_teinvento, os.path.join(rootDir,processedDataPath,'product_dim.csv'))
    datos = "teinvento_inc"
    YYYYMMRegex = re.compile('({})_(\d\d\d\d\d\d)'.format(datos))
    path = os.path.join(rootDir,rawDataPath)
    for subdir, dirs, files in os.walk(path):
        for file in files:
            if YYYYMMRegex.match(file):
                match = YYYYMMRegex.search(file)
                YYYYMM = match.group(2) 
                newFile = os.path.join(rootDir,processedDataPath,file)
                generateDB.sqlInsertTeinventoInc(con_teinvento, newFile, YYYYMM)

In [29]:
if __name__ == "__main__":
    loadTamalesInc()
    loadTeinventoInc()
    con_tamales = generateDB.sql_connection('tamales_inc.db')
    con_teinvento = generateDB.sql_connection('teinvento_inc.db')
    
    insertRowsTamales(con_tamales)
    insertRowsTeinvento(con_teinvento)

    con_tamales.close()
    con_teinvento.close()

Cargando datos de Tamales Inc.
Cargando datos crudos...
Datos ya existen para tamales_inc_201904.csv
Datos ya existen para tamales_inc_201908.csv
Datos ya existen para tamales_inc_201912.csv
Datos ya existen para tamales_inc_201902.csv
Datos ya existen para tamales_inc_201901.csv
Datos ya existen para tamales_inc_201907.csv
Datos ya existen para tamales_inc_201906.csv
Datos ya existen para tamales_inc_201903.csv
Datos ya existen para tamales_inc_201905.csv
Datos ya existen para tamales_inc_201911.csv
Datos ya existen para tamales_inc_201910.csv
Datos ya existen para tamales_inc_201909.csv
Datos ya existen para tamales_inc_202004.csv
Datos ya existen para tamales_inc_202008.csv
Datos ya existen para tamales_inc_202002.csv
Datos ya existen para tamales_inc_202001.csv
Datos ya existen para tamales_inc_202007.csv
Datos ya existen para tamales_inc_202006.csv
Datos ya existen para tamales_inc_202003.csv
Datos ya existen para tamales_inc_202005.csv
Cargando datos procesados...
This mapping file already exists for history data.
This mapping file already exists for history data.
Datos ya existen para tamales_inc_201901.csv
Datos ya existen para tamales_inc_201902.csv
Datos ya existen para tamales_inc_201903.csv
Datos ya existen para tamales_inc_201904.csv
Datos ya existen para tamales_inc_201905.csv
Datos ya existen para tamales_inc_201906.csv
Datos ya existen para tamales_inc_201907.csv
Datos ya existen para tamales_inc_201908.csv
Datos ya existen para tamales_inc_201909.csv
Datos ya existen para tamales_inc_201910.csv
Datos ya existen para tamales_inc_201911.csv
Datos ya existen para tamales_inc_201912.csv
Datos ya existen para tamales_inc_202001.csv
Datos ya existen para tamales_inc_202002.csv
Cargando datos de Teinvento Inc.
Cargando datos crudos...
Datos ya existen para teinvento_inc_201804.csv
Datos ya existen para teinvento_inc_201808.csv
Datos ya existen para teinvento_inc_201812.csv
Datos ya existen para teinvento_inc_201802.csv
Datos ya existen para teinvento_inc_201801.csv
Datos ya existen para teinvento_inc_201807.csv
Datos ya existen para teinvento_inc_201806.csv
Datos ya existen para teinvento_inc_201803.csv
Datos ya existen para teinvento_inc_201805.csv
Datos ya existen para teinvento_inc_201811.csv
Datos ya existen para teinvento_inc_201810.csv
Datos ya existen para teinvento_inc_201809.csv
Datos ya existen para teinvento_inc_201904.csv
Datos ya existen para teinvento_inc_201908.csv
Datos ya existen para teinvento_inc_201912.csv
Datos ya existen para teinvento_inc_201902.csv
Datos ya existen para teinvento_inc_201901.csv
Datos ya existen para teinvento_inc_201907.csv
Datos ya existen para teinvento_inc_201906.csv
Datos ya existen para teinvento_inc_201903.csv
Datos ya existen para teinvento_inc_201905.csv
Datos ya existen para teinvento_inc_201911.csv
Datos ya existen para teinvento_inc_201910.csv
Datos ya existen para teinvento_inc_201909.csv
Datos ya existen para teinvento_inc_202004.csv
Datos ya existen para teinvento_inc_202002.csv
Datos ya existen para teinvento_inc_202001.csv
Datos ya existen para teinvento_inc_202003.csv
Datos ya existen para teinvento_inc_202005.csv
Datos ya existen para product_dim.csv
Datos ya existen para region_dim.csv
Datos ya existen para region_dim.csv
Cargando datos procesados...
Datos ya existen para teinvento_inc_201804.csv
Datos ya existen para teinvento_inc_201808.csv
Datos ya existen para teinvento_inc_201812.csv
Datos ya existen para teinvento_inc_201802.csv
Datos ya existen para teinvento_inc_201801.csv
Datos ya existen para teinvento_inc_201807.csv
Datos ya existen para teinvento_inc_201806.csv
Datos ya existen para teinvento_inc_201803.csv
Datos ya existen para teinvento_inc_201805.csv
Datos ya existen para teinvento_inc_201811.csv
Datos ya existen para teinvento_inc_201810.csv
Datos ya existen para teinvento_inc_201809.csv
Datos ya existen para teinvento_inc_201904.csv
Datos ya existen para teinvento_inc_201908.csv
Datos ya existen para teinvento_inc_201912.csv
Datos ya existen para teinvento_inc_201902.csv
Datos ya existen para teinvento_inc_201901.csv
Datos ya existen para teinvento_inc_201907.csv
Datos ya existen para teinvento_inc_201906.csv
Datos ya existen para teinvento_inc_201903.csv
Datos ya existen para teinvento_inc_201905.csv
Datos ya existen para teinvento_inc_201911.csv
Datos ya existen para teinvento_inc_201910.csv
Datos ya existen para teinvento_inc_201909.csv
Datos ya existen para teinvento_inc_202004.csv
Datos ya existen para teinvento_inc_202002.csv
Datos ya existen para teinvento_inc_202001.csv
Datos ya existen para teinvento_inc_202003.csv
Datos ya existen para teinvento_inc_202005.csv
Cargando datos para product_dim.csv
Datos ya existen para region_dim.csv
Datos ya existen para region_dim.csv
Connection is established: Database tamales created
Connection is established: Database teinvento created
<class 'sqlite3.Error'>
<class 'sqlite3.Error'>
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201901.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201902.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201903.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201904.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201905.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201906.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201907.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201908.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201909.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201910.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201911.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_201912.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202001.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202002.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202003.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202004.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202005.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202006.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202007.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\tamales_inc_202008.csv
<class 'sqlite3.Error'>
Data inserted into product_dim_teinvento table
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201801.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201802.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201803.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201804.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201805.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201806.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201807.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201808.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201809.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201810.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201811.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201812.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201901.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201902.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201903.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201904.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201905.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201906.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201907.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201908.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201909.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201910.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201911.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_201912.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_202001.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_202002.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_202003.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_202004.csv
ERROR trying to insert, could not find file C:\Users\edson\OneDrive\Documentos\BigData\Aldo\procesado\generador\fuente\teinvento_inc_202005.csv

In [28]:
reg_df = pd.read_csv(os.path.join(rootDir,processedDataPath,"region_table_tamales_inc.csv"))

In [29]:
reg_df

   id_region country         zone
0          0  Mexico       Centro
1          1  Mexico  E. Privados
2          2  Mexico        Norte
3          3  Mexico          Sur

In [30]:
df1 = pd.read_csv(os.path.join(rootDir,rawDataPath,"201901","tamales_inc_201901.csv"))[["year", "month", "product_code", "zone", "sales"]]

In [31]:
df1Group = df1[["product_code","zone","sales"]].groupby(["product_code","zone"]).sum()
df1Group.reset_index()

   product_code         zone         sales
0     206050084  E. Privados  7.076249e+05
1     206050084        Norte  1.180721e+06
2     206050084          Sur  1.960398e+06
3     206051447  E. Privados  7.000671e+03
4     206051447        Norte  4.978629e+04
5     206051447          Sur  2.606738e+05
6     206054370       Centro  6.597472e+03
7     206054370  E. Privados  8.590493e+02
8     206054370        Norte  1.702286e+02
9     206054370          Sur  1.030975e+02
10   ABYT055818       Centro  4.835082e+03
11   ABYT055818  E. Privados  1.358863e+02
12   ABYT055818        Norte  1.231910e+03
13   ABYT055818          Sur  5.105248e+03
14   ABYT057271       Centro  1.899252e+06
15   ABYT057271  E. Privados  1.702395e+05
16   ABYT057271        Norte  2.937847e+05
17   ABYT057271          Sur  6.343492e+05

In [32]:
df1['zone'] = df1['zone'].map(reg_df.set_index('zone')['id_region'])
df1

     year month product_code  zone         sales
0    2019   Jan   ABYT057271     0  2.793307e+04
1    2019   Jan   ABYT057271     0  9.678073e+05
2    2019   Jan   ABYT057271     0 -2.080000e-13
3    2019   Jan   ABYT057271     0 -9.420000e-11
4    2019   Jan    206054370     0  4.970000e-14
..    ...   ...          ...   ...           ...
495  2019   Jan    206050084     3  6.756187e+04
496  2019   Jan   ABYT057271     3 -4.620000e-14
497  2019   Jan    206051447     3  8.103046e+03
498  2019   Jan    206050084     3  5.538376e+04
499  2019   Jan   ABYT057271     3  4.909296e+03

[500 rows x 5 columns]

In [41]:
df1Grouped = df1[["product_code","zone","sales"]].groupby(["product_code","zone"]).sum().reset_index()
df1Grouped

   product_code  zone         sales
0     206050084     1  7.076249e+05
1     206050084     2  1.180721e+06
2     206050084     3  1.960398e+06
3     206051447     1  7.000671e+03
4     206051447     2  4.978629e+04
5     206051447     3  2.606738e+05
6     206054370     0  6.597472e+03
7     206054370     1  8.590493e+02
8     206054370     2  1.702286e+02
9     206054370     3  1.030975e+02
10   ABYT055818     0  4.835082e+03
11   ABYT055818     1  1.358863e+02
12   ABYT055818     2  1.231910e+03
13   ABYT055818     3  5.105248e+03
14   ABYT057271     0  1.899252e+06
15   ABYT057271     1  1.702395e+05
16   ABYT057271     2  2.937847e+05
17   ABYT057271     3  6.343492e+05

In [ ]:
('206050084', 1)
('206050084', 2)
('206050084', 3)
('206050084', 0)
('206051447', 1)
('206051447', 2)
('206051447', 3)
('206051447', 0)
('206054370', 1)
('206054370', 2)
('206054370', 3)
('206054370', 0)
('ABYT055818', 1)
('ABYT055818', 2)
('ABYT055818', 3)
('ABYT055818', 0)
('ABYT057271', 1)
('ABYT057271', 2)
('ABYT057271', 3)
('ABYT057271', 0)

In [42]:
df1Grouped["product_code"]

0      206050084
1      206050084
2      206050084
3      206051447
4      206051447
5      206051447
6      206054370
7      206054370
8      206054370
9      206054370
10    ABYT055818
11    ABYT055818
12    ABYT055818
13    ABYT055818
14    ABYT057271
15    ABYT057271
16    ABYT057271
17    ABYT057271
Name: product_code, dtype: object

In [44]:

uniqueGrouped = list(product(df1Grouped["product_code"].unique(),df1Grouped["zone"].unique()))
uniqueGrouped

[('206050084', 1),
 ('206050084', 2),
 ('206050084', 3),
 ('206050084', 0),
 ('206051447', 1),
 ('206051447', 2),
 ('206051447', 3),
 ('206051447', 0),
 ('206054370', 1),
 ('206054370', 2),
 ('206054370', 3),
 ('206054370', 0),
 ('ABYT055818', 1),
 ('ABYT055818', 2),
 ('ABYT055818', 3),
 ('ABYT055818', 0),
 ('ABYT057271', 1),
 ('ABYT057271', 2),
 ('ABYT057271', 3),
 ('ABYT057271', 0)]

In [51]:
for index, rows in df1Grouped.iterrows():
    df1Grouped.loc[df1Grouped["product_code",]==rows["product_code"]

hola
('206050084', 1)
hola
('206050084', 2)
hola
('206050084', 3)
hola
('206051447', 1)
hola
('206051447', 2)
hola
('206051447', 3)
hola
('206054370', 0)
hola
('206054370', 1)
hola
('206054370', 2)
hola
('206054370', 3)
hola
('ABYT055818', 0)
hola
('ABYT055818', 1)
hola
('ABYT055818', 2)
hola
('ABYT055818', 3)
hola
('ABYT057271', 0)
hola
('ABYT057271', 1)
hola
('ABYT057271', 2)
hola
('ABYT057271', 3)

In [52]:
uniqueGrouped

[('206050084', 0), ('206051447', 0)]

In [ ]:
df1Grouped.loc[df1Grouped["product"]==rows["product"]